*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper{
    display: flex;

}

.main{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
}

.left{
    width: 896px;
    height: 591.2px;
    background-color: #1d2646;
    padding: 0 70px;
    float: left;
}

.logo{
    width: 746.2px;
    height: 60px;
    margin: 80px 0 20px;
    font-size: 50px;
    font-family: "Open Sans", sans-serif;
    color: #fff;
}

.welcom{
    color: #A0A2ae;
    margin-bottom: 70px;
    font-size: 18px;
    font-family: sans-serif;
}

.email_password{
    width: 756.21px;
    height: 121px;
    display: flex;
    margin: 0 0 20px;

}

.email{
    width: 242.4px;
    height: 121px;
    margin-right: 80px;
    
    font-family: "Roboto", sans-serif;
}

.email label{
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    margin: 0 0 8px 9px;

}

input[type=text]{
    border: 0px;
    display: flex;
    width: 100%;
    height: 47px;
    margin-bottom: 10px;
    border-radius: 20px;
    padding: 0 30px;
    background: #fff;
    outline: unset;
    margin-top: 8px;
}

.password .forget{
    margin-left: 9px;
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-family: sans-serif;
}
.password .forget:hover{
    color: #A0A2ae;
    text-decoration: none;
    cursor: pointer;
}

.button{
    width: 756px;
    height: 66px;

}

.sign_in, .sign_up{
    background-color: #FFC700;
    align-items: center;
    width: 152px;
    height: 44px;
    border-radius: 44px;
    font-size: 20px;
    font-weight: bold;
    border: 0px;
    color: white;
    margin: 22px 40px 0 0;
    outline: unset !important;
}

.sign_up{
    background-color: #1d2646 !important;
    border: 1px solid white !important;
}

.sign_in:hover{
    background-color: white;
    color: #FFC700;
    border: 1px solid #FFC700;
    cursor: pointer;
}

.sign_up:hover{
    background-color: white !important;
    border: 1px solid white;
    color: #1D2646 !important;
    cursor: pointer;
}

.right {
    /* margin: 150px 0 0; */
    /* float: left; */
    text-align: center;
}



.img_bike {
    width: 317px;
    margin-top: 150px;
    margin-left: 150px;
}


@media (max-width: 800px) {

}

/* PC: >=1024px 
    tablet: >=740px & <= 1024px
    Mobile: <740px
*/

/* PC */
@media(min-width: 1024px) {
    
}

/* Tablet */
@media(min-width: 740px) and (max-width: 1023px) {
    
}

/* Mobile */
@media (max-width: 740px) {

}